@media screen and (max-width: 14000px) {
  body{
    padding: 0%;
    background-color: #D5E1EF;
  }

  .card{
    margin-top: 5%;
    margin-left: 37%;
  }

  .card-content{
  border-color: white;
  border-width: 16px;
  }

  .align{
  text-align: center;
  }
  
  .card-color{
  background-color: white;
  }
  
  .border{
  border-radius: 20px;
  }
  
  .text-base1{
    font-size: 0.68rem;
  }
  
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(240, 2%, 35%); }
  
}

@media screen and (max-width: 1280px) {
  body{
    padding: 0%;
    background-color: #D5E1EF;
  }

  .card{
    margin-top: 5%;
    margin-left: 29%;
  }

  .card-content{
  border-color: white;
  border-width: 16px;
  }

  .align{
  text-align: center;
  }
  
  .card-color{
  background-color: white;
  }
  
  .border{
  border-radius: 20px;
  }
  
  .text-base1{
    font-size: 0.68rem;
  }
  
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(240, 2%, 35%); }
  
}

@media screen and (max-width: 1024px) and (max-height: 600px){
  body{
    padding: 0%;
    background-color: #D5E1EF;
  }

  .card{
    margin-top: 5%;
    margin-left: 29%;
  }

  .card-content{
    border-color: white;
    border-width: 16px;
    }
  
    .align{
    text-align: center;
    }
    
    .card-color{
    background-color: white;
    }
    
    .border{
    border-radius: 20px;
    }
    
    .text-base1{
      font-size: 0.68rem;
    }
    
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(240, 2%, 35%); }
    
  
}

@media screen and (max-width: 768px) {
  body{
    padding: 0%;
    background-color: #D5E1EF;
  }

  .card{
    margin-top: 10%;
    margin-left: 25%;
  }

  .card-content{
    border-color: white;
    border-width: 16px;
    }
  
    .align{
    text-align: center;
    }
    
    .card-color{
    background-color: white;
    }
    
    .border{
    border-radius: 20px;
    }
    
    .text-base1{
      font-size: 0.68rem;
    }
    
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(240, 2%, 35%); }
  
}

@media screen and (max-width: 640px) {
  html, body{
    /* margin-right: 120em;
    width: 50em; */
    padding: 0%;
    background-color: #D5E1EF;
  }

  .card{
    width: 10cm;
    width: 27em;
    height: 1000rem;
    margin-top: 6%;
    margin-left: 25%;
  }

  .card-content{
    border-color: white;
    border-width: 16px;
    }

    .align{
    text-align: center;
    }
    
    .card-color{
    background-color: white;
    }
    
    .border{
      height: 100%;
      border-radius: 20px;
    }
    
    .text-base1{
      font-size: 0.68rem;
    }
    
    .attribution { font-size: 11px; text-align: center; height:100% }
    .attribution a { color: hsl(240, 2%, 35%); height: 100%;}
    
  
  
}